version: "3.9"

services:
  mongodb:
    image: mongo:6
    container_name: mongodb
    restart: always
    volumes:
      - mongo_data:/data/db
    networks:
      - appnet

  backend:
    image: backendimagev1
    container_name: backend
    restart: always
    depends_on:
      - mongodb
    environment:
      MONGO_URL: "mongodb://mongodb:27017/dd_db"
    ports:
      - "8080:8080"
    networks:
      - appnet

  frontend:
    image: frontendimagev1
    container_name: frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "80:80"
    networks:
      - appnet

networks:
  appnet:
    driver: bridge

volumes:
  mongo_data:

